<%= form_with(model: opinion, local: true) do |form| %>
  <% if opinion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(opinion.errors.count, "個のエラーにより") %> 投稿が出来ません:</h2>

      <ul>
      <h2>・無効なURLです。</h2>
      <!--<% opinion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>-->
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :タイトル %>
    <%= form.text_field :title %>
  </div>

  <br>

  <div class="field">
    <%= form.label :"カテゴリー"%>
    <%= form.select :category,[["なし", "なし"],["スポーツ", "スポーツ"], ["テクノロジー", "テクノロジー"], ["政治", "政治"], ["エンタメ", "エンタメ"], ["経済", "経済"], ["文化", "文化"]]%>
  </div>

  <br>
  
  <div class="field">
    <%= form.label :リンク %>
    ＊＊シェアする記事のURLはココに＊＊<br>
    <%= form.text_field :url %>
  </div>

  <br>

  <div class="field">
    <%= form.label :意見 %>
    <%= form.text_area :content %>
  </div>


  <% if user_signed_in? %>
    <div class="bye"> 
    <div class="field">
    <%= form.label :user_id%>
    <%= form.text_area :user_id%>
    </div>
    </div>
  <% else %>
  <% end %>

  <br>

  


  <div class="actions">
    <%= form.submit "投稿"%>
  </div>
<% end %>

<br>