<%= form_with(model: opinion, local: true) do |form| %>
  <% if opinion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(opinion.errors.count, "error") %> prohibited this opinion from being saved:</h2>

      <ul>
      <% opinion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :タイトル %>
    <%= form.text_field :title %>
  </div>


　
  <div class="field">
  
    <%= form.label :URL %>
    ＊＊シェアする記事のURLはココに＊＊<br>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :内容 %>
    <%= form.text_area :content %>
  </div>


  <% if user_signed_in? %>
    <div class="bye"> 
    <div class="field">
    <%= form.label :user_id%>
    <%= form.text_area :user_id%>
    </div>
    </div>
  <% else %>
  <% end %>

  


  <div class="actions">
    <%= form.submit "投稿"%>
  </div>
<% end %>
