
<div class="parent">

<div class="child">





<div class="user">





<ul style="list-style: none;">
      <li ><% if user_signed_in? %>
    <span class="button"><%= link_to  current_user.username, '/mypage' %></span>
  <% else %>
     <a>Guest</a>
  <% end %></li>

  <% if user_signed_in? %>
    <br>
  <% else %>
    
  <% end %>


      <li><% if user_signed_in? %>
  <a class="button" href="/submit">シェア</a>
   <% else %>
  <% end %></li>

  <% if user_signed_in? %>
    <br>
  <% else %>
    
  <% end %>

  <% if user_signed_in? %>
    <br>
  <% else %>
    
  <% end %>


  <li ><% if user_signed_in? %>
    <span class="button"><%= link_to 'ログアウト', destroy_user_session_path, :method => :delete %></span>
  <% else %>
    <span class="button"><%= link_to 'ログイン/アカウント登録', new_user_session_path, :method => :get %></span>
  <% end %></li>

  <li ><% if user_signed_in? %>
    <span class="button"><%= link_to 'アカウント削除', user_registration_path, :method => :delete %></span>
  <% else %>
    
  <% end %></li>
  </ul>

  <% if user_signed_in? %>
    <br>
  <% else %>
    
  <% end %>

  <% if user_signed_in? %>
    <br>
  <% else %>
    
  <% end %>

  


  <div class="setumei">
      <ul style="list-style: none;">
      <li ><a href="/about">このサイトについて</a></li>
      <li ><a href="/contact">連絡先</a></li>
      </ul>
  </div>




</div>












<br>
<hr>
<br>












<div class="syo">

<h1>ランキング-TOP5</h1>

<% @opinions3.each_with_index do |opinion,index| %>
      
        
 
<div class="card">

<a herf= <%=opinion.url %> >
<div class="card-title">
      <%= link_to opinion.title.truncate(20), opinion.url  %>
</div>
</a>
      
<div class="card-content">
        <%= opinion.content.truncate(45) %>
</div>

<div class="card-yoko">
<div class="card-time">
        <%= opinion.created_at.strftime("%Y-%m-%d %H:%M")  %>
</div>

<div class="card-btn">
       <%= link_to 'コメント', opinion %>
       <%= opinion.comments.count %>
</div>
</div>

</div>


 <hr color="#E6ECF0", size="0.1">
     
<% end %>

</div>















<br>

<hr>

<br>

















<div class="syo">




<h1>新着</h1>
<% @opinions.each_with_index do |opinion,index| %>
      
        
 
<div class="card">

<a herf= <%=opinion.url %> >
<div class="card-title">
      <%= link_to opinion.title.truncate(20), opinion.url  %>
</div>
</a>
      
<div class="card-content">
        <%= opinion.content.truncate(45) %>
</div>

<div class="card-yoko">
<div class="card-time">
        <%= opinion.created_at.strftime("%Y-%m-%d %H:%M")  %>
</div>

<div class="card-btn">
       <%= link_to 'コメント', opinion %>
       <%= opinion.comments.count %>
</div>
</div>

</div>


 <hr color="#E6ECF0", size="0.1">
     
<% end %>

</div>
</div>





</div>
    



































