

<p>
  <strong>タイトル:</strong>
  <%= @opinion.title %>
</p>

<p>
  <strong>URL:</strong>
  <%= link_to @opinion.url  %>
</p>

<p>
  <strong>内容:</strong>
  <%= @opinion.content %>
</p>




 <hr>



<% @comments.each_with_index do |comment,index| %>
      <tr>
        <td><%= 1 + index %>.</td>

        <td><%=  comment.name %></td> 
        
        
        <br>
        <td><%= comment.content %></td>
  
        <br>
        <td><%= comment.created_at.strftime("%Y-%m-%d %H:%M")  %></td>
        
      </tr>
      <br>
      <br>
<% end %>
<br>
<hr>
 <%= render 'comments/form', comment: @comment %>
<hr>


<%= link_to '戻る', speed_path %>
