
<br>
<p>
  <strong>タイトル:</strong>
  <%= @opinion.title %>
</p>

<br>

<p>
  <strong>URL:</strong>
  <%= link_to @opinion.url, @opinion.url  %>
  
</p>


<br>

<p>
<strong>意見</strong>
<span style="margon:0px;">
  <%= simple_format @opinion.content %>
 </span>
</p>




 <hr>



<% @comments.each_with_index do |comment,index| %>
      <tr>
        <td><%= 1 + index %>.</td>
        <td><b><%=  comment.name %></b></td> 
        <td><%= simple_format comment.content %></td>
        <td><%= comment.created_at.strftime("%Y-%m-%d %H:%M")%></td>
        
      </tr>
      <br>
      <br>
      <br>
<% end %>
<br>
<hr>
<% if user_signed_in? %>
 <%= render 'comments/form', comment: @comment %>
<hr>
<% else %>
<% end %>


<!-- <%= link_to '戻る', :back %> -->
