
<br>
<p>
  <strong>タイトル:</strong>
  <%= @opinion.title %>
</p>

<br>

<p>
  <strong>URL:</strong>
  <%= link_to @opinion.url, @opinion.url  %>
</p>


<br>

<div class="kaigyo">
<p>
<strong>意見</strong>
  <%= simple_format @opinion.content %>
</p>
</div>


<br>

<h3>いいね件数: <%= @opinion.likes.count %></h3>
<% if current_user.already_liked?(@opinion) %>
  <%= button_to 'いいねを取り消す', opinion_like_path(@opinion), method: :delete %>
<% else %>
  <%= button_to 'いいね', opinion_likes_path(@opinion) %>
<% end %>
<h2>いいねしたユーザー</h2>
<% @opinion.liked_users.each do |user| %>
  <li><%= user.username %></li>
<% end %>

 <hr>



<% @comments.each_with_index do |comment,index| %>
      <tr>
        <td><%= 1 + index %>.</td>
        <td><b><%=  comment.name %></b></td> 
        <div class="kaigyo">
        <td><%= simple_format comment.content %></td>
        </div>
        <td><%= comment.created_at.strftime("%Y-%m-%d %H:%M")%></td>
        
      </tr>
      <br>
      <br>
      <br>
<% end %>
<hr>
<% if user_signed_in? %>
 <%= render 'comments/form', comment: @comment %>
<hr>
<% else %>
<% end %>


<!-- <%= link_to '戻る', :back %> -->
