

<br>
<hr>
<br>












<div class="syo">

<h1>ランキング-TOP5</h1>

<div class="box1">
<% @opinions0.each_with_index do |opinion,index| %>
      
        
 
<div class="card">

<a herf= <%=opinion.url %> >
<div class="card-title">
      <%= link_to opinion.title.truncate(20), opinion.url  %> <%= opinion.liked_users.count %>
</div>
</a>
      
<div class="card-content">
        <%= opinion.content.truncate(45) %>
</div>

<div class="card-yoko">
<div class="card-time">
        <%= opinion.created_at.strftime("%Y-%m-%d %H:%M")  %>
</div>

<div class="card-btn">
       <%= link_to 'コメント', opinion %>
       <%= opinion.comments.count %>
</div>
</div>

</div>


 <hr color="#E6ECF0", size="0.1">
     
<% end %>
</div>
</div>

</div>















<br>

<hr>

<br>

















<div class="syo">




<h1>新着</h1>
<div class="box1">
<% @opinions.each_with_index do |opinion,index| %>
      
        
 
<div class="card">

<a herf= <%=opinion.url %> >
<div class="card-title">
      <%= link_to opinion.title.truncate(20), opinion.url  %> <%= opinion.liked_users.count %>
</div>
</a>
      
<div class="card-content">
        <%= opinion.content.truncate(45) %>
</div>

<div class="card-yoko">
<div class="card-time">
        <%= opinion.created_at.strftime("%Y-%m-%d %H:%M")  %>
</div>

<div class="card-btn">
       <%= link_to 'コメント', opinion %>
       <%= opinion.comments.count %>
</div>
</div>

</div>


 <hr color="#E6ECF0", size="0.1">
     
<% end %>
</div>





</div>
    