
<h1>シェア記事一覧</h1>
<hr>




  <% @opinions.each_with_index do |opinion,index| %>
      <tr>
        <td><%= 1 + index %>.</td>

        <td><%= link_to opinion.title.truncate(20), opinion.url  %></td> 
      
        <br>
        <td><%= opinion.content.truncate(45) %></td>
  
        <br>
        <td><%= opinion.created_at.strftime("%Y-%m-%d %H:%M")  %></td>

        <br>
        <td><%= link_to 'コメント', opinion %></td>
        
      </tr>
      <br>
      <br>
<% end %>