<%= form_with(model: comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<% if user_signed_in? %>
<p>ユーザー名:<%= current_user.username%></p>

<div class="bye">
   <div class ="field">
    <%= form.label :ユーザー名 %>
    <%= form.text_field :name, value: current_user.username%>
    </div>
    </div>

<% else %>

<p>ユーザー名:Guest</p>

<div class="bye">
<div class ="field">
    <%= form.label :ユーザー名 %>
    <%= form.text_field :name, value: "Guest"%>
</div>
</div>



<% end %>
 
   
  

  <div class="field">
    <%= form.label :コメント　%>
    <%= form.text_area :content %>
  </div>


  <div class="bye">
  <div class="field">
    <%= form.label :opinion_id %>
    <%= form.text_field :opinion_id %>
  </div>
  </div>

  <div class="actions">
    <%= form.submit "投稿"%>
  </div>

<% end %>
