<!DOCTYPE html>
<html>
  <head>
    <title>Ocho</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width" >
  </head>

  <body>

  <div class="topnav" id="myTopnav">
  <a href="/speed">Home</a>
  <a href="/about">About</a>
  <a href="/contact">Contact</a>
  <a href="/submit">Submit</a>

  
  <% if user_signed_in? %>
    <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to 'Login/Signup', new_user_session_path, :method => :get %>
  <% end %>


  <% if user_signed_in? %>
    <%= link_to  current_user.username, '/mypage' %>
  <% else %>
     <a>Guest</a>
  <% end %>

  </div>

  <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>

<div class="wrapper">
    <%= yield %>
</div>

<footer>
 <h3>Ocho</h3>
</footer>

  </body>
</html>
