<!DOCTYPE html>
<html>
  <head>
    <title>Ocho</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     
  </head>

  <body>
  

<ul class="nav-ul" style="list-style: none;">
      <li ><a href="/speed">ホーム</a></li>
      <li ><a href="/sport">スポーツ</a></li>
      <li ><a href="/tech">テクノロジー</a></li>
      <li ><a href="/enta">エンタメ</a></li>
      <li  ><a href="/econo">経済</a></li>
      <li  ><a href="/pol">政治</a></li>
      <li  ><a href="/cul">文化</a></li>
   </ul>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>



  <%= yield %>

  
  

  



    


  

  </body>
</html>
